body{
    background-color: black;
    color: white;
}
button{
    cursor: pointer;
}

.move-btn{
    background-color: black;
    border: 5px solid white;
    padding: 50px;
    border-radius: 50%;
}
.move-btn>img{
    width: 100px;
    height: 100px;
}
.move-result{
    font-size: 25px;
}
.move-result>img{
    background-color: black;
    border: 5px solid white;
    padding: 20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.auto-play-btn{
    background-color: black;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    padding: 10px;
}
